body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #fff;
}
.menu-item {
	display: inline-block; 
	padding: 0 10px;
}
.menu-item a {
	color: #919bad;
}
.menu-item a:hover {
	color: #fff;
	text-decoration: none;
}
span.lf-span {
	margin-right: 12px;
	color: #96a2b8;
}
.book-modal .modal-content {
    background: #000;
    border: 1px solid #448aff;
}
.book-modal .modal-header {
    border-bottom: 1px solid #448aff;
}
.book-modal .modal-header .close {
    padding: 1rem;
    color: #fff;
    margin: -1rem -1rem -1rem auto;
    opacity: 1;
}
.video-modal .modal-dialog {
	max-width: 100%;
}
 
.video-modal .modal-content {
    background: #000;
    border: 1px solid #448aff;
}
.video-modal .modal-header {
    border-bottom: 1px solid #448aff;
}
.video-modal .modal-header .close {
    padding: 1rem;
    color: #fff;
    margin: -1rem -1rem -1rem auto;
    opacity: 1;
}
.video-modal .modal-dialog {
	max-width: 51%;
}
.navbar {
	background: #1a1c1d;
	padding: 10px 3%;
	z-index: 9;
	 -webkit-transition all 0.4s ease
  transition all 0.4s ease;
}
.collapse {
	justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size: 16px;
	padding: 0 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #448aff;
}
.navbar-light .navbar-nav .nav-item.active .nav-link {
	color: #448aff;
}
.navbar-brand img {
	width: 50px;
}
.navbar-light .navbar-toggler {
	color: #fff;
	border-color: #fff;
	padding: 8px 15px;
}

.left-sidebar {
	    background: #1a1c1db8;
    box-shadow: 0 5px 44px #1a1c1d;
    box-shadow: inset -8px 0 10px -6px #222;
    height: 100%;
}

.manu-show-btn {
	position: absolute;
	right: 15px;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ddd;
	z-index: 99;
	top: 10px;
	cursor: pointer;
}
.manu-show-btn:hover {
	background: #007526;
	color: #fff;
}
.profile-cnt {
	/*display: flex;
	align-items: center;*/
	padding: 20px;
	border-bottom: 1px solid #1a1c1d;
}
.profile-img {
	position: relative;
   width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #dddd;
    overflow: hidden;
    margin: 0 auto 10px;
    cursor: pointer;
}
.img-upload {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	display: none;
	align-items: center;
	justify-content: center;

}
.img-upload input {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.profile-img:hover .img-upload {
display: flex;
}
.profile-img img {
	width: 100%;
	height: 100%;
}
.profile-txt {
	/*width: calc(100% - 45px);*/
	padding-left: 10px;
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
	text-align: center;
}
.home-cover {
    max-height: 450px;
    overflow: hidden;
}
.social-l{
	margin-right: 10px;
}
.side_nav {
	padding: 0 0 20px 0;
}
.side_ul {
	padding: 0;
	margin: 0;
}
.side_nav .side_nav__items {
	width: 100%;
	padding: 0 0 1px 0;
	position: relative;
	list-style: none;
}
.side_nav .side_nav__links {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding: 11px 15px 11px 20px;
	display: block;
	text-transform: capitalize;
	border-bottom: 1px solid #1a1c1d;
}
.side_ul_in {
	display: none;
}
.side_nav .side_nav__links:hover {
	background: black;
}
.side_nav .side_nav__links.active {
	font-weight: 700;
	text-decoration: underline;
}
.side_nav .side_nav__items_in .side_nav__links {
	padding: 7px 0 7px 16%;
}
.side_nav__items_out.active .side_ul_in {
	padding: 0;
	display: block;
}
.side_nav__items_out.active .manu-show-btn {
	background: #007526;
	color: #fff;
}
.side_nav__items_out.active .manu-show-btn i{
	transform: rotate(180deg);
}

.side_nav__items_out.active .side_nav__links_out {
	font-weight: 700;
	text-decoration: underline;
}
.navbar-fixed {
	position: fixed;
	width: 100%;
	box-shadow: 0 2px 20px #000;
}
.main-body {
	padding: 20px;
}
.main-section {
	padding: 50px 3%;
	background: #000;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    background-color: #000;
}
.pre-q {
	font-weight: bold;
	font-size: 20px;
	color: #448aff;
	margin-right: 5px;

}
.question-cnt {
    margin-bottom: 200px;
}
.ctm-container {
  display: inline-block;
  position: relative;
     padding-left: 25px;
    margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.ctm-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.ctm-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.ctm-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.ctm-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.ctm-container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.breadcrumb-item {
    font-size: 20px;  
      text-transform: capitalize;
}
.card {
	border: 1px solid #1a1c1d;
	background-color: #000;
	color: #fff;
	font-size: 14px;
}
.card-image {
    height: 150px;
    overflow: hidden;
}
.card-header {
	color: #448aff;
}
.card-block {
	padding: 18px;
	text-align: justify;
}
.card-icon{
	font-size: 30px;
}
.log-cnt {
	max-width: 800px;
	margin: auto;
	background: #1a1c1d;
	color: #fff;
}

.reg-cnt {
	max-width: 950px;
}
.form {
	padding: 45px 30px;
}
.form-control {
	background: #000;
	border: 1px solid #333;
	border-radius: 0;
}
.form-control:focus {
	background: #000;
	border: 1px solid #333;
	box-shadow: none;
}
.form  label {
	font-size: 16px;
}
.lr-cover  {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer-section {
	color: #fff;
}
.footer-top {
	background: #1a1c1d;
	padding: 50px 3% 15px 3%;
}
.footer-bottom {
	background: #000;
	padding: 0 3%;
}

.footer-section li {
	text-transform: capitalize;
	list-style: none;
}
.footer-section a {
	color: #b9c9d3;
}

.footer-txt {
	font-size: 16px;
	color: #b9c9d3;
}
.footer-tlt {
	text-transform: capitalize;
	position: relative;
	font-weight: 500;
}
.footer-tlt:after {
	content: "";
	position: absolute;
	height: 3px;
	width: 50px;
	background: #448aff;
	left: 0;
	bottom: 0;
}
.footer-mbl-img img {
	width: 200px;
	height: 40px;
}
.social-menu .social-l {
	width: 52px;
    height: 52px;
    line-height: 52px;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 100%;
}
.social-menu .social-l i {
	line-height: inherit;
	font-size: 20px;
}
.fac {
	background: #395794;
}
.tw {
	background: #55adee;
}
.you {
	background: #e72d27;
}
.pin {
	background: #fff;
}
.ins {
	background: #125688;
}
.pin i {
	color: #e72d27;
}
.in {
	background: #1665c1;
	font-weight: 600;
}
.footer-bottom {
	color: #b9c9d3;
}
.copy-txt {
	display: inline-block;
	background: #111212;
	padding: 6px 8px;
	font-size: 16px;
}

.err-msg{
	color: red;
    background: darkblue;
    padding: 12px;
    font-size: 17px;
}
.succ-msg{
	color: white;
    background: darkblue;
    padding: 12px;
    font-size: 17px;
}
.user-menu-active{
	background: black
}
.quiz-card p{
	margin-bottom: 4px;
    font-size: 15px;
    color: #afa5a5;
    font-style: oblique;
}
.quiz-card span{
	color: #34cc21;
}
.join-quiz-btn{
	margin-top: 20px;
}
.quiz-des p{
	font-size: 17px;
	text-align: justify;
}
.no-quiz p{
	background: #1825c1;
	padding: 10px;
}

.about-quiz-h2 h4{
	background: #0736bb;
    padding: 5px;
    font-style: oblique;
}

.qsTitle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.setQuestion1{
	text-align: center;
}
.setQuestion1 h3{
	color: #0736bb;
}
.setQuestion1 p{
	margin-bottom: 5px;
	font-size: 16px;
}